.makeitglass{

    font-weight: 600;
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}


.contenuPage{
    height: 100%;
    width: 100%;
    position: relative;
}


.menuUtilisateur {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    color: black;
    /*background: linear-gradient(to bottom right, #66ccff, #3399ff);*/
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.grandTitre {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    text-align: center;
    background: linear-gradient(to right, rgba(168, 191, 160, 0.7), rgba(30, 65, 90, 0.5)); /* Dégradé */
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    font-size: 24px; /* Taille de police ajustée */
    transition: transform 0.3s ease, background 0.3s ease; /* Transition fluide pour l'interactivité */
}

.grandTitre:hover {
    transform: scale(1.05); /* Légère mise à l'échelle lors du survol */
    background: linear-gradient(to right, rgba(168, 191, 160, 1), rgba(30, 65, 90, 1)); /* Dégradé intensifié au survol */
}

.barreCritere{
    display: flex;
    flex-Direction: row;
    gap: 2px;
    overflow-x: auto;
    padding: 2px 10px;
    justify-content: center;
    width: max-content;

}

.appBar{
    background-color: black ;
}

.critereSelected{
    background-color: rgba(198, 231, 248, 0.53)
}


